/* By default the content of cells is aligned to the baseline which looks strange for most form fields */
.listing-table td {
  vertical-align: top;
}

.listing-table .au-c-table__header th {
  white-space: normal; /* The headers that display a lot of text take up a lot of space without this override */
}

.listing-table .au-c-textarea {
  margin: 0; /* browsers add a 1px margin which looks strange when it's displayed next to other inputs */
}

.sf-listing-sub-form {
  border: 0.1rem solid var(--au-gray-200);
  border-radius: var(--au-radius);
}

/* Listing order button styles */

/* .sf-listing-order-button-group {} */

/* !important is needed because we override Appuniversum styles and our custom css is loaded before it (which we can't change) */
.sf-listing-order-button-group__button {
  height: 1.8rem !important;
  border: 0.1rem solid transparent !important;
  padding: 0 !important;
}

.sf-listing-order-button-group__button:hover:not([disabled]) {
  background-color: var(--au-gray-200) !important;
  border: 0.1rem solid var(--au-gray-200) !important;
}

/* Can be removed once Appuniversum adds this by default, or removes the flex from the default version:
   https://github.com/appuniversum/ember-appuniversum/blob/8793c19fbd69e9a1cec2ed5c670efef4bd77b21d/app/styles/ember-appuniversum/_c-fieldset.scss#L49-L52C23
*/
.concept-scheme-multi-select-checkboxes__content {
  width: 100%;
}

.currency-input {
  display: flex;
  flex-direction: row nowrap;
  gap: 0;
  align-items: center;

  input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: none !important;
  }
}

.currency-input__iso-code {
  height: 100%;
  padding: 0.6rem 1rem;
  pointer-events: none;
  cursor: pointer;
  background-color: var(--au-gray-200);
  border: 0.1rem;
  border-radius: var(--au-radius);
  border-style: var(--au-outline-border-style);
  border-color: var(--au-gray-300);
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* remote-url field */
.remote-url-list-card {
  background-color: var(--au-white);
  border: 0.1rem solid var(--au-gray-300);
  border-radius: var(--au-radius);
}

.remote-url-list-card .au-c-icon {
  /* This prevents the icon from shrinking if the container is too small. It should probably be moved to Appuniversum */
  flex-shrink: 0;
}

/* Files field */
.sf-files-card {
  /* The Appuniversum version is lighter than the remote-url one, so this makes it consistent */
  border-color: var(--au-gray-300) !important;
}

/* The design has a smaller variant of the file-card that matches the remote-url one.
   TODO: Should we add this to Appuniversum itself?
*/
.sf-files-card--small {
  display: flex !important;
  justify-content: space-between;
}

.sf-files-card--small > div.au-u-margin-top-tiny {
  margin-top: 0 !important;
}

.center-container {
  display: flex;
  align-items: center;
}

.input-clear-btn {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  color: var(--au-gray-700);
  background-color: var(--au-gray-200);
  border-radius: 100%;
  margin-left: 0.5rem;
}
