/* By default the content of cells is aligned to the baseline which looks strange for most form fields */
.listing-table td {
  vertical-align: top;
}

.listing-table .au-c-table__header th {
  white-space: normal; /* The headers that display a lot of text take up a lot of space without this override */
}

.listing-table .au-c-textarea {
  margin: 0; /* browsers add a 1px margin which looks strange when it's displayed next to other inputs */
}

.sf-listing-sub-form {
  border: 0.1rem solid var(--au-gray-200);
  border-radius: var(--au-radius);
}

/* Listing order button styles */

/* .sf-listing-order-button-group {} */

/* !important is needed because we override Appuniversum styles and our custom css is loaded before it (which we can't change) */
.sf-listing-order-button-group__button {
  height: 1.8rem !important;
  border: 0.1rem solid transparent !important;
  padding: 0 !important;
}

.sf-listing-order-button-group__button:hover:not([disabled]) {
  background-color: var(--au-gray-200) !important;
  border: 0.1rem solid var(--au-gray-200) !important;
}

/* Can be removed once Appuniversum adds this by default, or removes the flex from the default version:
   https://github.com/appuniversum/ember-appuniversum/blob/8793c19fbd69e9a1cec2ed5c670efef4bd77b21d/app/styles/ember-appuniversum/_c-fieldset.scss#L49-L52C23
*/
.concept-scheme-multi-select-checkboxes__content {
  width: 100%;
}
