{{#each this.fields as |field|}}
  <div class="au-u-margin-bottom-small">
    {{#if @show}}
      {{component (component-for-display-type-show field.displayType)
                  field=field
                  formStore=@formStore
                  graphs=@graphs
                  sourceNode=@sourceNode}}
    {{else}}
      {{component
              (component-for-display-type-edit field.displayType)
              field=field
              formStore=@formStore
              graphs=@graphs
              sourceNode=@sourceNode
              forceShowErrors=@forceShowErrors
      }}
    {{/if}}
    <AuHelpText class="au-u-margin-none">{{field.help}}</AuHelpText>
  </div>
{{/each}}