{{page-title "Dynamic form fields"}}

<AuApp>
  <AuMainHeader @homeRoute="index" @appTitle="Dynamic form fields" />
  <AuMainContainer as |m|>
    <m.sidebar>
      <div class="au-c-sidebar">
        <div class="au-c-sidebar__content">
          <nav>
            <ul class="au-c-list-navigation">
              <li class="au-c-list-navigation__item">
                <AuNavigationLink @route="index">
                  Basic form fields
                </AuNavigationLink>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </m.sidebar>
    <m.content @scroll={{true}}>
      <div class="au-o-box au-o-box--large au-u-2-3@medium au-u-1-1">
        {{outlet}}
      </div>
    </m.content>
  </AuMainContainer>
</AuApp>
